In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as pxs
import json

In [2]:
data = pd.read_csv("Data/datavalidation.csv")
data

,Diabetes_012,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0,1,1,1,40,1,0,0,0,0,...,1,0,5,18,15,1,0,9,4,3
1,0,0,0,0,25,1,0,0,1,0,...,0,1,3,0,0,0,0,7,6,1
2,0,1,1,1,28,0,0,0,0,1,...,1,1,5,30,30,1,0,9,4,8
3,0,1,0,1,27,0,0,0,1,1,...,1,0,2,0,0,0,0,11,3,6
4,0,1,1,1,24,0,0,0,1,1,...,1,0,2,3,0,0,0,11,5,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253006,0,1,1,1,45,0,0,0,0,1,...,1,0,3,0,5,0,1,5,6,7
253007,2,1,1,1,18,0,0,0,0,0,...,1,0,4,0,0,1,0,11,2,4
253008,0,0,0,1,28,0,0,0,1,1,...,1,0,1,0,0,0,0,2,5,2
253009,0,1,0,1,23,0,0,0,0,1,...,1,0,3,0,0,0,1,7,5,1
253010,2,1,1,1,25,0,0,1,1,1,...,1,0,2,0,0,0,0,9,6,2